**EMAIL-START**
**EMAIL-META**
from:Mauricio
subject:Password Reset
**EMAIL-HTML**
<html>
<body>
<h3>Hi, ${owner.firstName}  ${owner.lastName},</h3>

<div>
   Your Username is ${owner.username}.
</div>
<div>
   Your password  is ${password}.
 </div>
</body>

</html>
**EMAIL-TEXT**
Hi, ${owner.firstName}  ${owner.lastName}.
Your Username is ${owner.username}.
Your password  is ${password}.
**EMAIL-END**